@media ( max-width: 1650px )
  .first-screen
    background-position-y: -200px
@media ( max-width: 1330px )
  .first-screen
    background-position-y: -100px
@media ( max-width: 1200px )
  .first-screen
    background-position-y: 0px
    &-title
      font-size: 3.2rem
  .header
    align-items: center
  .projects
    &-pointer
      display: none
    &-blocks
      justify-content: center
      &-big
        display: none
      &-smalls
        width: 100%
        justify-content: center
        height: auto
        &-block
          margin: 10px
          box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.15)
  .project
    &_lg
      display: block
    &:hover
      .projects-info
        display: none
      .projects-plate
        opacity: 1
@media ( max-width: 992px )
  .first-screen
    height: 500px
    background-size: 120%
    background-position-y: 0px
    &__inner
      height: 350px
    &-title
      font-size: 2.8rem
      &__word3
        margin-top: 30px
  .nav
    max-width: 400px
    &-link
      font-size: 1.4rem

@media ( max-width: 768px )
  .menuButton
    display: block
  .nav
    display: none
  .first-screen
    background-size: 140%
    &-title
      font-size: 2rem
  .projects
    &-blocks
      &-smalls
        justify-content: center
        &-block
          margin-bottom: 20px
          width: 360px
          height: 340px
@media ( max-width: 576px )
  .first-screen
    height: 350px
    background-size: 180%
    &__inner
      height: 300px
      align-items: flex-start
    &-title
      margin-top: 50px
      font-size: 1.4rem
      &__word1
        margin-right: 10px
  .scroll-mouse
    width: 20px
    height: 34px
    border-width: 1px
    &__wrap
      bottom: 90px
    &__mBtn
      width: 1px
      height: 8px
    &__arrowDown
      width: 12px
      height: 12px
      border-width: 2px
      
@media ( max-width: 414px ) and (max-height: 824px)
  .modalMenu
    &-wrapList
      &__item
        margin-bottom: 25px
        font-size: 2rem
      &__borderBottom
        margin-top: 25px

@media ( max-width: 425px ) and (min-height: 0px)
  .modalMenu
    &-wrapList
      &__item
        margin-bottom: 15px
        font-size: 1.4rem
      &__borderBottom
        margin-top: 15px
  .first-screen
    background-size: 240%
    background-position-x: 0px
    &-title
      margin-top: 65px
      font-size: 1.2rem
      text-align: center
      &__word1
        display: block
        margin: 0
        margin-bottom: 20px
      &__word3
        margin-top: 20px
  .scroll-mouse
    width: 20px
    height: 20px
    background-color: rgba($main-text-color, 0.7)
    border: none
    &__wrap
      bottom: 70px
    &__mBtn
      display: none
    &__arrowDown
      margin-top: -35px
      transform: rotate(-135deg)
      border-color: rgba($main-text-color, 0.7)
  .projects
    &-blocks
      &-smalls
        margin: 0
        &-block
          margin: 5px
          width: 140px
          height: 140px
          box-shadow: none
    &-plate
      width: auto
      height: 30px
      &__text
        font-size: 1rem
  
@media ( max-width: 812px ) and (min-height: 320px)
  .modalMenu
    &-wrapList
      &__item
        margin-bottom: 15px
        font-size: 1.4rem
      &__borderBottom
        margin-top: 15px  
    
  
  
  
  
  
  