@font-face {
  font-family: 'Dosis Regular, Helvetica, sans-serif';
  src: url("../fonts/Dosis-Regular.eot");
  src: url("../fonts/Dosis-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Dosis-Regular.woff") format("woff"), url("../fonts/Dosis-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat Regular, Helvetica, sans-serif';
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  position: relative;
  font-family: 'Montserrat Regular, Helvetica, sans-serif';
  color: rgba(var(--main-color), 1);
  background-color: rgba(var(--secondary-color), 1);
}

body.light {
  --main-color: 30,31,28;
  --secondary-color: 255,255,255;
}

body.dark {
  --main-color: 255,255,255;
  --secondary-color: 30,31,28;
}

a {
  color: inherit;
}

input:focus, button:focus, textarea:focus {
  outline: none;
}

::-moz-selection {
  color: rgba(var(--secondary-color), 1);
  background-color: rgba(var(--main-color), 0.8);
}

::selection {
  color: rgba(var(--secondary-color), 1);
  background-color: rgba(var(--main-color), 0.8);
}

.container, .fluid-container {
  max-width: 1200px;
  margin: 0 auto;
  z-index: 1;
}

.section {
  padding: 50px 0;
}

.section-title {
  margin: 0;
  font-size: 3rem;
  text-align: center;
  color: rgba(var(--main-color), 1);
}

.menuButton {
  display: none;
  position: relative;
  float: right;
  background: rgba(30, 31, 28, 0.7);
  padding: 25px 20px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-left: 1px solid #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  margin: 0 0 30px 30px;
  cursor: pointer;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  z-index: 200;
}

.menuButton__wrap {
  position: fixed;
  right: 0;
  top: 22px;
  z-index: 30000;
}

.burger {
  position: relative;
  display: block;
  width: 30px;
  height: 1px;
  background: #fff;
  margin: 0;
  padding: 0;
  z-index: 3000;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.burger::before {
  content: '';
  position: absolute;
  top: -10px;
  display: block;
  width: 30px;
  height: 1px;
  z-index: 30000;
  background: #fff;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.burger::after {
  content: '';
  position: absolute;
  top: 10px;
  display: block;
  width: 30px;
  height: 1px;
  z-index: 30000;
  background: #fff;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  -webkit-transform: rotate(0deg);
      -ms-transform: rotate(0deg);
          transform: rotate(0deg);
}

.burgerActive {
  position: relative;
  display: block;
  background: 0 0;
  margin: 0;
  padding: 0;
}

.burgerActive::before {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  display: block;
  width: 40px;
  height: 1px;
  z-index: 30000;
  background: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.burgerActive::after {
  content: '';
  position: absolute;
  top: 0;
  left: -5px;
  display: block;
  width: 40px;
  height: 1px;
  z-index: 30000;
  background: #fff;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.scrollHide {
  overflow: hidden;
}

.modalMenu {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(30, 31, 28, 0.8);
  opacity: 0;
  z-index: -3;
}

.modalMenu__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalMenu-wrapList {
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.modalMenu-wrapList__borderBottom {
  max-width: 225px;
  width: 100%;
  position: relative;
  border: none;
  height: 1px;
  margin: 25px auto 0;
  padding: 0;
  background: #fff;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 255, 255, 0.3)), color-stop(20%, #fff), to(#fff));
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.3) 0%, #fff 20%, #fff 100%);
  background: -o-linear-gradient(left, rgba(255, 255, 255, 0.3) 0%, #fff 20%, #fff 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.3) 0%, #fff 20%, #fff 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff',endColorstr='#ffffff',GradientType=1);
  opacity: .3;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
}

.modalMenu-wrapList__item {
  margin-bottom: 25px;
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: 1px;
  text-transform: uppercase;
  opacity: 0;
}

.modalMenu-wrapList__item .theme-switch-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modalMenu-wrapList__item .theme-switch__textModal {
  margin-bottom: 8px;
  color: #fff;
}

.modalMenu-wrapList__item input#checkboxModalMenu {
  display: none;
}

.modalMenu-wrapList__item input#checkboxModalMenu:checked + .theme-switch > .slider::before {
  -webkit-transform: translateX(7px);
      -ms-transform: translateX(7px);
          transform: translateX(7px);
}

.modalMenu-wrapList__link {
  text-decoration: none;
  color: #fff;
}

.fadeIn {
  -webkit-animation: fadeIn 0.4s linear 0s 1 normal forwards;
          animation: fadeIn 0.4s linear 0s 1 normal forwards;
}

.fadeOut {
  -webkit-animation: fadeOut 0.4s linear 0s 1 normal forwards;
          animation: fadeOut 0.4s linear 0s 1 normal forwards;
}

.fadeLeftMenu {
  -webkit-animation: fadeLeftMenu;
          animation: fadeLeftMenu;
  -webkit-animation-duration: 0.15s;
          animation-duration: 0.15s;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-direction: normal;
          animation-direction: normal;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeLeftMenu {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes fadeLeftMenu {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
    z-index: -3;
  }
  100% {
    opacity: 1;
    z-index: 4;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    z-index: -3;
  }
  100% {
    opacity: 1;
    z-index: 4;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 4;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    z-index: 4;
  }
  100% {
    opacity: 0;
    z-index: -3;
  }
}

.first-screen {
  height: 600px;
  background: #E6E2E1 url("../img/first-screen-bg.jpg");
  background-size: cover;
  background-position-y: -500px;
}

.first-screen__inner {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
}

.first-screen-title {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #1E1F1C;
}

.first-screen-title__word1 {
  display: inline-block;
  margin-right: 20px;
  font-family: 'Dosis Regular, Helvetica, sans-serif';
  font-weight: normal;
  letter-spacing: 6px;
}

.first-screen-title__word2, .first-screen-title__word3 {
  letter-spacing: 2px;
}

.first-screen-title__word3 {
  display: block;
  margin-top: 50px;
  text-align: center;
}

.header__inner {
  margin: 0 auto;
  max-width: 1200px;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-scroll {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background-color: rgba(var(--secondary-color), 1);
  -webkit-box-shadow: 0px 7px 39px -30px #1e1f1c;
          box-shadow: 0px 7px 39px -30px #1e1f1c;
  z-index: 3;
}

.header-scroll .logo__link {
  color: rgba(var(--main-color), 1) !important;
}

.header-scroll .nav-link {
  color: rgba(var(--main-color), 1) !important;
}

.header-scroll .nav-link__svg {
  stroke: rgba(var(--main-color), 1) !important;
}

.header-scroll .nav-link__active svg {
  stroke: rgba(var(--main-color), 1) !important;
}

.header-scroll .theme-switch__textNav {
  color: rgba(var(--main-color), 1);
}

.header-scroll .header__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__link {
  text-decoration: none;
  color: #1E1F1C;
}

.logo__img {
  width: 40px;
  height: 40px;
  margin-right: 8px;
}

.logo__text {
  font-size: 5rem;
  font-family: 'Dosis Regular, Helvetica, sans-serif';
  letter-spacing: 3px;
  text-decoration: none;
}

.nav {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  max-width: 640px;
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-link {
  position: relative;
  font-size: 1.6rem;
  color: #1E1F1C;
  text-decoration: none;
}

.nav-link__svg {
  fill: none;
  stroke: #1E1F1C;
  stroke-width: 2;
  stroke-miterlimit: 10;
  stroke-dasharray: 338;
  stroke-dashoffset: 338;
  stroke-linecap: round;
  position: absolute;
  top: 50%;
  left: 50%;
  width: calc(100% + 40px);
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  -o-transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
  transition: stroke-dashoffset 0s 0.2s, opacity 0.2s;
}

.nav-link_active svg {
  stroke: #1E1F1C;
  stroke-dashoffset: 0;
  opacity: 1;
  -webkit-transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.nav-link:hover .nav-link__svg {
  stroke-dashoffset: 0;
  opacity: 1;
  -webkit-transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  transition: opacity 0s, stroke-dashoffset 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.theme-switch {
  display: inline-block;
  height: 25px;
  position: relative;
  width: 40px;
  margin-right: 5px;
}

.theme-switch-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.theme-switch__textNav {
  font-size: 1.6rem;
  color: #1E1F1C;
}

input#checkboxNav {
  display: none;
}

.slider {
  background-color: rgba(var(--main-color), 1);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  content: "";
  background-color: rgba(var(--secondary-color), 1);
  bottom: 4px;
  width: 17px;
  height: 17px;
  left: 4px;
  position: absolute;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input#checkboxNav:checked + .theme-switch > .slider {
  background-color: rgba(var(--main-color), 1);
}

input#checkboxNav:checked + .theme-switch > .slider::before {
  -webkit-transform: translateX(16px);
      -ms-transform: translateX(16px);
          transform: translateX(16px);
  background-color: rgba(var(--secondary-color), 1);
}

.slideFadeDown {
  -webkit-animation: slideFadeDown 0.2s linear 0s 1 normal forwards;
          animation: slideFadeDown 0.2s linear 0s 1 normal forwards;
}

@-webkit-keyframes slideFadeDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

@keyframes slideFadeDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
}

.scroll-mouse {
  position: relative;
  top: 0;
  width: 22px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 2px solid #1E1F1C;
  border-radius: 30px;
}

.scroll-mouse__wrap {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: 20px;
}

.scroll-mouse__mBtn {
  position: relative;
  margin-top: 5px;
  top: 0;
  width: 2px;
  height: 10px;
  border: 2px solid #1E1F1C;
  border-radius: 3px;
}

.scroll-mouse__arrowDown {
  position: relative;
  top: 0;
  margin: 0 auto;
  width: 15px;
  height: 15px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  border-right: 3px solid #1E1F1C;
  border-bottom: 3px solid #1E1F1C;
  background-color: transparent;
}

.animScrollDown {
  -webkit-animation: scrollDown 1s linear 0s infinite alternate none;
          animation: scrollDown 1s linear 0s infinite alternate none;
}

@-webkit-keyframes scrollDown {
  0% {
    top: 0;
  }
  100% {
    top: 15px;
  }
}

@keyframes scrollDown {
  0% {
    top: 0;
  }
  100% {
    top: 15px;
  }
}

.fadeInLeft {
  display: inline-block;
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
  visibility: visible;
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
  visibility: visible;
}

.animated {
  -webkit-animation-duration: 0.8s;
  animation-duration: 0.8s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@media (print), (prefers-reduced-motion: reduce) {
  .animated {
    -webkit-animation-duration: 1ms !important;
    animation-duration: 1ms !important;
    -webkit-transition-duration: 1ms !important;
    -o-transition-duration: 1ms !important;
       transition-duration: 1ms !important;
    -webkit-animation-iteration-count: 1 !important;
    animation-iteration-count: 1 !important;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.projects__title {
  margin-bottom: 50px;
}

.projects-pointer {
  margin-left: 40px;
}

.projects-pointer__text {
  font-size: 1.8rem;
  font-weight: bold;
  font-style: italic;
  color: rgba(var(--main-color), 1);
}

.projects-pointer__img {
  position: relative;
  margin-left: 5px;
  top: 15px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.projects-blocks {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-blocks-smalls {
  margin: 4px;
  width: 592px;
  height: 592px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.projects-blocks-smalls-block {
  position: relative;
  margin: 4px;
  width: 288px;
  height: 288px;
}

.projects-blocks-big {
  position: relative;
  margin: 4px;
  width: 592px;
  height: 592px;
}

.projects-img {
  width: 100%;
  height: 100%;
}

.projects-info {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
  text-align: center;
  background-color: rgba(var(--secondary-color), 0.9);
  color: rgba(var(--main-color), 1);
  -webkit-transform: translateX(-10%);
      -ms-transform: translateX(-10%);
          transform: translateX(-10%);
  opacity: 0;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  z-index: -1;
}

.projects-info__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.3;
}

.projects-info__desc {
  font-size: 1.2rem;
  line-height: 2;
}

.projects-plate {
  position: absolute;
  left: 10px;
  bottom: 10px;
  min-width: 120px;
  height: 40px;
  padding-right: 10px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  z-index: 1;
}

.projects-plate__text {
  font-size: 1.4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.project_lg {
  display: none;
}

.project:hover .projects-info {
  width: 100%;
  -webkit-animation: slideLeft 0.2s linear 0s 1 normal forwards;
          animation: slideLeft 0.2s linear 0s 1 normal forwards;
}

.project:hover .projects-plate {
  opacity: 0;
}

@-webkit-keyframes slideLeft {
  0% {
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    z-index: 1;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes slideLeft {
  0% {
    z-index: -1;
    opacity: 0;
    -webkit-transform: translateX(-10%);
            transform: translateX(-10%);
  }
  100% {
    z-index: 1;
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.nums {
  max-width: 1000px;
  margin: 0 auto 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.nums-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-size: 1.6rem;
  font-weight: bold;
  color: rgba(var(--main-color), 1);
}

.nums-item-icon {
  margin-bottom: 8px;
  width: 50px;
  height: 50px;
}

.nums-item-title {
  margin-bottom: 8px;
  letter-spacing: 1px;
}

.nums-item-divider {
  margin-bottom: 8px;
}

.about {
  padding-right: 20px;
  padding-left: 20px;
}

.about__title {
  margin-bottom: 50px;
}

.about-me {
  color: rgba(var(--main-color), 1);
}

.about-me__avatar {
  width: 200px;
  height: 200px;
  margin-right: 30px;
  border-radius: 50%;
  border: 1px solid #fff;
}

.about-me-shortinfo {
  position: relative;
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about-me-shortinfo__title {
  margin: 0;
  margin-bottom: 10px;
  font-size: 2.5rem;
  text-transform: uppercase;
}

.about-me-shortinfo__speciality {
  display: block;
  margin-bottom: 20px;
  font-size: 1.8rem;
}

.about-me-shortinfo-subinfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.8rem;
}

.about-me-shortinfo-year {
  margin-right: 40px;
}

.about-me-shortinfo-year__text {
  margin-bottom: 10px;
  display: block;
}

.about-me-shortinfo-city__text {
  margin-bottom: 10px;
  display: block;
}

.about-me-shortinfo__img {
  position: absolute;
  display: inline-block;
  width: 128px;
  height: 128px;
  top: 20px;
  right: 0;
  -webkit-transform: rotate(10deg);
      -ms-transform: rotate(10deg);
          transform: rotate(10deg);
}

.about-me-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.6rem;
  line-height: 27px;
}

.about-me-info-detailed {
  max-width: 500px;
}

.about-me-info-skills__text {
  padding-bottom: 8px;
}

.about-me-info-skills__text::after {
  content: "";
  width: 0;
  -webkit-transition: all 2s;
  -o-transition: all 2s;
  transition: all 2s;
}

._border-bottom::after {
  content: "";
  display: block;
  width: 100%;
  margin-top: 8px;
  height: 1px;
  background: -webkit-gradient(linear, left top, right top, from(rgba(var(--main-color), 1)), color-stop(rgba(var(--main-color), 0.5)), to(rgba(var(--secondary-color), 1)));
  background: -webkit-linear-gradient(left, rgba(var(--main-color), 1) 0%, rgba(var(--main-color), 0.5), rgba(var(--secondary-color), 1) 100%);
  background: -o-linear-gradient(left, rgba(var(--main-color), 1) 0%, rgba(var(--main-color), 0.5), rgba(var(--secondary-color), 1) 100%);
  background: linear-gradient(to right, rgba(var(--main-color), 1) 0%, rgba(var(--main-color), 0.5), rgba(var(--secondary-color), 1) 100%);
}

.offer {
  padding-right: 20px;
  padding-left: 20px;
}

.offer__title {
  margin-bottom: 100px;
}

.offer-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  color: rgba(var(--main-color), 1);
}

.offer-block__item {
  margin-bottom: 40px;
  width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  opacity: 0;
}

.offer-block-check {
  margin-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 0 40px;
          flex: 1 0 40px;
  max-width: 40px;
  height: 40px;
}

.offer-block-check__img {
  width: 100%;
  max-width: 100%;
}

.offer-block-info__title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 2rem;
}

.offer-block-info__text {
  margin: 0;
  font-size: 1.6rem;
  line-height: 27px;
}

.topLeftFade {
  -webkit-animation: topLeftFade 1.2s ease-out 0s 1 normal forwards;
          animation: topLeftFade 1.2s ease-out 0s 1 normal forwards;
}

.topRightFade {
  -webkit-animation: topRightFade 1.2s ease-out 0s 1 normal forwards;
          animation: topRightFade 1.2s ease-out 0s 1 normal forwards;
}

.leftFade {
  -webkit-animation: leftFade 1.2s ease-out 0s 1 normal forwards;
          animation: leftFade 1.2s ease-out 0s 1 normal forwards;
}

.rightFade {
  -webkit-animation: rightFade 1.2s ease-out 0s 1 normal forwards;
          animation: rightFade 1.2s ease-out 0s 1 normal forwards;
}

.bottomRightFade {
  -webkit-animation: bottomRightFade 1.2s ease-out 0s 1 normal forwards;
          animation: bottomRightFade 1.2s ease-out 0s 1 normal forwards;
}

.bottomLeftFade {
  -webkit-animation: bottomLeftFade 1.2s ease-out 0s 1 normal forwards;
          animation: bottomLeftFade 1.2s ease-out 0s 1 normal forwards;
}

@-webkit-keyframes topLeftFade {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px, -70px);
            transform: translate(-100px, -70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes topLeftFade {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px, -70px);
            transform: translate(-100px, -70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes topRightFade {
  0% {
    opacity: 0;
    -webkit-transform: translate(100px, -70px);
            transform: translate(100px, -70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes topRightFade {
  0% {
    opacity: 0;
    -webkit-transform: translate(100px, -70px);
            transform: translate(100px, -70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes leftFade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes leftFade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100px);
            transform: translateX(-100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes rightFade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes rightFade {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100px);
            transform: translateX(100px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes bottomRightFade {
  0% {
    opacity: 0;
    -webkit-transform: translate(100px, 70px);
            transform: translate(100px, 70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes bottomRightFade {
  0% {
    opacity: 0;
    -webkit-transform: translate(100px, 70px);
            transform: translate(100px, 70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@-webkit-keyframes bottomLeftFade {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px, 70px);
            transform: translate(-100px, 70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes bottomLeftFade {
  0% {
    opacity: 0;
    -webkit-transform: translate(-100px, 70px);
            transform: translate(-100px, 70px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.contacts {
  padding-right: 20px;
  padding-left: 20px;
}

.contacts__title {
  margin-bottom: 30px;
}

.contacts__subtitle {
  margin-bottom: 40px;
  font-size: 1.6rem;
  text-align: center;
  color: rgba(var(--main-color), 1);
}

.contacts-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contacts-block {
  width: 30%;
  color: rgba(var(--main-color), 1);
}

.contacts-block__item {
  margin-bottom: 30px;
}

.contacts-block__icon {
  margin-right: 15px;
  width: 30px;
  height: 30px;
}

.contacts-block__link {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6rem;
  text-decoration: none;
}

.contacts-block__link:hover {
  text-decoration: underline;
}

#contacts-whatsapp[data-filtered="false"] .contacts-block__icon {
  background: transparent url("../img/contacts/whatsapp.png");
  background-size: 100%;
}

#contacts-whatsapp[data-filtered="false"]:hover .contacts-block__icon {
  background-image: url("../img/contacts/whatsapp-active.png");
}

#contacts-telegram[data-filtered="false"] .contacts-block__icon {
  background: transparent url("../img/contacts/telegram.png");
  background-size: 100%;
}

#contacts-telegram[data-filtered="false"]:hover .contacts-block__icon {
  background-image: url("../img/contacts/telegram-active.png");
}

#contacts-vk[data-filtered="false"] .contacts-block__icon {
  background: transparent url("../img/contacts/vk.png");
  background-size: 100%;
}

#contacts-vk[data-filtered="false"]:hover .contacts-block__icon {
  background-image: url("../img/contacts/vk-active.png");
}

#contacts-insta[data-filtered="false"] .contacts-block__icon {
  background: transparent url("../img/contacts/instagram.png");
  background-size: 100%;
}

#contacts-insta[data-filtered="false"]:hover .contacts-block__icon {
  background-image: url("../img/contacts/instagram-active.png");
}

#contacts-gmail[data-filtered="false"] .contacts-block__icon {
  background: transparent url("../img/contacts/gmail.png");
  background-size: 100%;
}

#contacts-gmail[data-filtered="false"]:hover .contacts-block__icon {
  background-image: url("../img/contacts/gmail-active.png");
}

#contacts-skype[data-filtered="false"] .contacts-block__icon {
  background: transparent url("../img/contacts/skype.png");
  background-size: 100%;
}

#contacts-skype[data-filtered="false"]:hover .contacts-block__icon {
  background-image: url("../img/contacts/skype-active.png");
}

#contacts-github[data-filtered="false"] .contacts-block__icon {
  background: transparent url("../img/contacts/github.png");
  background-size: 100%;
}

#contacts-whatsapp[data-filtered="true"] .contacts-block__icon {
  background: transparent url("../img/contacts/whatsapp-active.png");
  background-size: 100%;
}

#contacts-telegram[data-filtered="true"] .contacts-block__icon {
  background: transparent url("../img/contacts/telegram-active.png");
  background-size: 100%;
}

#contacts-vk[data-filtered="true"] .contacts-block__icon {
  background: transparent url("../img/contacts/vk-active.png");
  background-size: 100%;
}

#contacts-insta[data-filtered="true"] .contacts-block__icon {
  background: transparent url("../img/contacts/instagram-active.png");
  background-size: 100%;
}

#contacts-gmail[data-filtered="true"] .contacts-block__icon {
  background: transparent url("../img/contacts/gmail-active.png");
  background-size: 100%;
}

#contacts-skype[data-filtered="true"] .contacts-block__icon {
  background: transparent url("../img/contacts/skype-active.png");
  background-size: 100%;
}

#contacts-github[data-filtered="true"] .contacts-block__icon {
  background: transparent url("../img/contacts/github-active.png");
  background-size: 100%;
}

.feedback__wrap {
  width: 40%;
}

.feedback-input {
  margin-bottom: 20px;
  display: block;
  padding: 10px;
  width: 100%;
  height: 40px;
  font-size: 1.4rem;
  background-color: #fff;
  color: rgba(var(--main-color), 1);
  border: 1px solid rgba(30, 31, 28, 0.3);
}

.feedback-input::-webkit-input-placeholder {
  font-size: 1.2rem;
}

.feedback-input:-ms-input-placeholder {
  font-size: 1.2rem;
}

.feedback-input::-ms-input-placeholder {
  font-size: 1.2rem;
}

.feedback-input::placeholder {
  font-size: 1.2rem;
}

.feedback__textarea {
  width: 100%;
  height: 200px;
  resize: none;
}

.feedback-btn {
  width: 150px;
  height: 40px;
  font-size: 1.4rem;
  cursor: pointer;
  border: none;
  background-color: rgba(var(--main-color), 0.9);
  color: rgba(var(--secondary-color), 1);
}

.footer {
  padding: 30px;
  background-color: rgba(30, 31, 28, 0.05);
  text-align: center;
  font-size: 1.4rem;
}

@media (max-width: 1650px) {
  .first-screen {
    background-position-y: -200px;
  }
}

@media (max-width: 1330px) {
  .first-screen {
    background-position-y: -100px;
  }
}

@media (max-width: 1200px) {
  .first-screen {
    background-position-y: 0px;
  }
  .first-screen-title {
    font-size: 3.2rem;
  }
  .header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .projects-pointer {
    display: none;
  }
  .projects-blocks {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .projects-blocks-big {
    display: none;
  }
  .projects-blocks-smalls {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
  }
  .projects-blocks-smalls-block {
    margin: 10px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.15);
  }
  .project_lg {
    display: block;
  }
  .project:hover .projects-info {
    display: none;
  }
  .project:hover .projects-plate {
    opacity: 1;
  }
  .offer-block {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .offer-block__check {
    width: 30px;
    height: 30px;
  }
  .offer-block-info__title {
    font-size: 1.8rem;
  }
  .offer-block-info__text {
    font-size: 1.4rem;
  }
}

@media (max-width: 992px) {
  .first-screen {
    height: 500px;
    background-size: 120%;
    background-position-y: 0px;
  }
  .first-screen__inner {
    height: 350px;
  }
  .first-screen-title {
    font-size: 2.8rem;
  }
  .first-screen-title__word3 {
    margin-top: 30px;
  }
  .nav-link {
    font-size: 1.4rem;
  }
  .about-me__avatar {
    width: 150px;
    height: 150px;
  }
  .about-me-shortinfo__title {
    font-size: 2rem;
  }
  .about-me-shortinfo__speciality {
    font-size: 1.6rem;
  }
  .about-me-shortinfo-subinfo {
    font-size: 1.6rem;
  }
  .about-me-shortinfo__img {
    width: 100px;
    height: 100px;
  }
  .about-me-info {
    font-size: 1.2rem;
    line-height: 24px;
  }
  .about-me-info-detailed {
    width: 50%;
    padding-right: 30px;
  }
  .about-me-info-skills {
    width: 50%;
  }
  .offer-block {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .offer-block__item {
    width: 48%;
  }
  .feedback__wrap {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .menuButton {
    display: block;
  }
  .nav {
    display: none;
  }
  .first-screen {
    background-size: 140%;
  }
  .first-screen-title {
    font-size: 2rem;
  }
  .projects-blocks-smalls {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .projects-blocks-smalls-block {
    margin: 0;
    margin-bottom: 20px;
    width: 240px;
    height: 240px;
  }
  .nums {
    margin-bottom: 30px;
  }
  .nums-item {
    margin-bottom: 20px;
    width: 50%;
  }
  .about-me-shortinfo__img {
    display: none;
  }
  .about-me-shortinfo__title {
    font-size: 1.8rem;
  }
  .about-me-shortinfo__speciality {
    font-size: 1.4rem;
  }
  .about-me-shortinfo-subinfo {
    font-size: 1.4rem;
  }
  .about-me-info-detailed {
    width: 90%;
    padding-right: 0;
  }
  .about-me-info-skills {
    width: 70%;
  }
  .offer-block__check {
    margin-right: 10px;
  }
  .offer-block__item {
    opacity: 1;
  }
  .offer-block-info__title {
    font-size: 1.6rem;
  }
  .offer-block-info__text {
    font-size: 1.2rem;
    line-height: 24px;
  }
  .contacts__subtitle {
    font-size: 1.4rem;
  }
  .contacts-block {
    width: 50%;
  }
  .contacts-block__link {
    font-size: 1.2rem;
  }
  .feedback__textarea {
    height: 130px;
  }
}

@media (max-width: 576px) {
  .section-title {
    font-size: 2rem;
  }
  .first-screen {
    height: 350px;
    background-size: 180%;
  }
  .first-screen__inner {
    height: 300px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .first-screen-title {
    margin-top: 50px;
    font-size: 1.4rem;
  }
  .first-screen-title__word1 {
    margin-right: 10px;
  }
  .scroll-mouse {
    width: 20px;
    height: 34px;
    border-width: 1px;
  }
  .scroll-mouse__wrap {
    bottom: 90px;
  }
  .scroll-mouse__mBtn {
    width: 1px;
    height: 8px;
  }
  .scroll-mouse__arrowDown {
    width: 12px;
    height: 12px;
    border-width: 2px;
  }
  .projects-blocks-smalls-block {
    width: 200px;
    height: 200px;
  }
  .nums-item {
    font-size: 1.2rem;
  }
  .nums-item-icon {
    width: 40px;
    height: 40px;
  }
  .about-me__avatar {
    margin-right: 15px;
    width: 100px;
    height: 100px;
  }
  .about-me-shortinfo__title {
    font-size: 1.4rem;
  }
  .about-me-shortinfo__speciality {
    margin-bottom: 14px;
    font-size: 1.2rem;
  }
  .about-me-shortinfo-subinfo {
    font-size: 1.2rem;
  }
  .about-me-info-detailed {
    width: 100%;
  }
  .offer {
    padding: 20px;
  }
  .offer__title {
    margin-bottom: 30px;
  }
  .offer-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .offer-block__item {
    width: 100%;
  }
  .offer-block-info__title {
    margin-bottom: 10px;
  }
  .contacts__subtitle {
    font-size: 1.2rem;
  }
  .contacts-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .contacts-block {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts-block__item {
    width: 40%;
  }
  .contacts-block__icon {
    width: 20px;
    height: 20px;
  }
  .feedback__wrap {
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
  }
  .feedback-btn {
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 414px) and (max-height: 824px) {
  .modalMenu-wrapList__item {
    margin-bottom: 25px;
    font-size: 2rem;
  }
  .modalMenu-wrapList__borderBottom {
    margin-top: 25px;
  }
}

@media (max-width: 425px) and (min-height: 0px) {
  .modalMenu-wrapList__item {
    margin-bottom: 15px;
    font-size: 1.4rem;
  }
  .modalMenu-wrapList__borderBottom {
    margin-top: 15px;
  }
  .first-screen {
    background-size: 240%;
    background-position-x: 0px;
  }
  .first-screen__inner {
    height: 250px;
  }
  .first-screen-title {
    margin-top: 40px;
    font-size: 1.2rem;
    text-align: center;
  }
  .first-screen-title__word1 {
    display: block;
    margin: 0;
    margin-bottom: 20px;
  }
  .first-screen-title__word3 {
    margin-top: 20px;
  }
  .scroll-mouse {
    width: 20px;
    height: 20px;
    background-color: rgba(30, 31, 28, 0.7);
    border: none;
  }
  .scroll-mouse__wrap {
    bottom: 70px;
  }
  .scroll-mouse__mBtn {
    display: none;
  }
  .scroll-mouse__arrowDown {
    margin-top: -35px;
    -webkit-transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
            transform: rotate(-135deg);
    border-color: rgba(30, 31, 28, 0.7);
  }
  .projects-blocks-smalls {
    margin: 0;
  }
  .projects-blocks-smalls-block {
    margin: 5px;
    width: 140px;
    height: 140px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .projects-plate {
    width: auto;
    height: 30px;
  }
  .projects-plate__text {
    font-size: 1rem;
  }
  .about-me-shortinfo__title {
    font-size: 1.2rem;
  }
  .about-me-shortinfo__speciality {
    font-size: 1rem;
  }
  .about-me-shortinfo-subinfo {
    font-size: 1rem;
  }
  .contacts {
    padding-top: 0;
  }
  .contacts-block__item {
    width: 100%;
    text-align: center;
  }
  .feedback-input {
    font-size: 1.2rem;
  }
}

@media (max-width: 812px) and (min-height: 320px) and (max-height: 414px) {
  .modalMenu-wrapList__item {
    margin-bottom: 15px;
    font-size: 1.4rem;
  }
  .modalMenu-wrapList__borderBottom {
    margin-top: 15px;
  }
  .header__inner {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px 5px;
  }
}
/*# sourceMappingURL=style.css.map */